// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  background-color: #eee;
}

#flickr {
  width: 800px;
  padding: 5px;
  background-color: #fff;

  .item {
    width: 100px;
    height: 100px;
    display: inline-block;

    img {
      vertical-align: middle;
      margin: auto;
      display: block;
      border-radius: 4px;
    }
  }
}

.paging-message {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  .message {
    position: relative;
    bottom: 0;
    padding: 0 10px;
    width: 100%;
    vertical-align: middle;
    display: block;
    text-align: center;
  }
}

#photo-details {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color:rgba(0, 0, 0, 0.5);

  #detail {
    width: 750px;
    padding: 5px;
    margin: auto;
    margin-top: 20px;
    background-color: #fff;
    overflow: auto;
    border-radius: 4px;

    #close {
      float: right;
    }

    img {
      float: right;
      margin: 0 0 5px 5px;
    }

    dl {
      float: left;
      width: 350px;

      dt {
        font-weight: bold;
        float: left;
        clear:left;
        width: 90px;
      }

      dd {
        width: 250px;
        margin-left: 110px;
      }
    }
  }
}